[Unit]
Description=Initiates Mumble to SIP call
after=network.target
StartLimitIntervalSec=60
StartLimitBurst=15

[Service]
Type=simple
User=mumsi
WorkingDirectory=/home/mumsi
ExecStart=/home/mumsi/bin/mumsi /home/mumsi/conf/config.ini
Restart=on-failure
StandardOutput=file:/home/mumsi/log/mumsi.log
StandardError=file:/home/mumsi/log/mumsi.log

[Install]
WantedBy=multi-user.target
